:root {
  --main-text-color: #444444;
}

html {
  font-family: sans-serif;
  color: var(--main-text-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app > * {
  margin: 0.5rem;
}

.title {
  font-size: 2em;
  font-weight: 600;
}

.result-list {
  max-width: 80%;
  border: 1px solid var(--main-text-color);
  padding: 0.5rem;
}

.result {
  z-index: 10;
  border: 1px solid var(--main-text-color);
  margin: 0.25rem;
  padding: 0.25rem;
}

.category {
  font-weight: 600;
}

.description {
  font-style: italic;
}

.result-edit-container {
  margin: 0.5rem 0 0;
}

.result-edit,
.page-number {
  color: blue;
  cursor: pointer;
}

.description-edit {
  width: 95%;
  resize: vertical;
}

.page-number {
  padding: 1rem;
}

.result-edit.selected,
.result-edit:hover,
.page-number.selected,
.page-number:hover {
  font-weight: 800;
}
